<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header" />

<body>

	<nav th:replace="layouts :: navbar" />

	<div class="container mt-3">
		<!-- Add New In Charge Button -->
		<a th:href="@{/employees/new}" class="btn btn-primary btn-sm mb-3">New
			Employee</a>

		<h4>Employees</h4>
		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email Address</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="anEmployee : ${employeeList}">
					<td th:text="${anEmployee.firstName}" />
					<td th:text="${anEmployee.lastName}" />
					<td th:text="${anEmployee.email}" />
					<td><a
						th:href="@{/employees/delete/{id}(id=${anEmployee.employeeId})}"
						class="btn btn-danger">Delete</a></td>
				</tr>
			</tbody>
		</table>

	</div>

</body>

</html>